<web-app>


    <!--<filter>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<filter-class>mvc.controls.AuthFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<url-pattern>*</url-pattern>-->
    <!--</filter-mapping>-->


    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>mvc.controls.SigninConroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Users Controller</servlet-name>
        <servlet-class>mvc.controls.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users Controller</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>


</web-app>

